body {
  color: black;
  font-family: sans-serif;
}

.texto {
  margin-top: 20px;
  font-size: 10px;
}

.reloj {
  background: linear-gradient(#111, #666);
  border: 2px solid black;
  display: inline-flex;
  border-radius: 2px;
}

.reloj div {
  color: white;
  padding: 5px 9px;
  font-size: 20px;
  font-family: monospace;
}

.texturas {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
}

.texturas div {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  user-select: all;
}

.texturas div:active {
  opacity: 0.55;
}

.textura1 {
  background: url(/textura1.jpg);
  background-size: cover;
}
.textura2 {
  background: url(/textura2.jpg);
  background-size: cover;
}
.textura3 {
  background: url(/textura3.jpg);
  background-size: cover;
}

.zona {
  width: 100%;
  background: #ddd;
  height: 500px;
  background-size: cover;
  object-fit: cover;
  border: 3px dashed grey;
}

.resultado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#newImg {
  max-width: 48%;
  margin: 2px 6px;
}
.zona-arrastre {
  max-width: 100%;
  background: #ddd;
  background-size: cover;
  object-fit: cover;
  border: 3px dashed grey;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding: 60px 20px;
  font-weight: bolder;
  color: #666;
}

#img-crg {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  top: -30px;
}

.observer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.caja {
  width: 300px;
  height: 300px;
  display: flex;
  background: #48e;
  font-size: 40px;
  color: #ddd;
  margin: 6px;
  border: 3px solid black;
  text-transform: capitalize;
}
.caja2 {
  width: 300px;
  height: 300px;
  display: flex;
  background: green;
  font-size: 40px;
  color: #ddd;
  margin: 6px;
  border: 3px solid yellowgreen;
  text-transform: capitalize;
}
.caja3 {
  width: 300px;
  height: 300px;
  display: flex;
  background: red;
  font-size: 40px;
  color: #ddd;
  margin: 6px;
  border: 3px solid orange;
  text-transform: capitalize;
}
.caja4 {
  width: 300px;
  height: 300px;
  display: flex;
  background: blueviolet;
  font-size: 40px;
  color: #ddd;
  margin: 6px;
  border: 3px solid blue;
  text-transform: capitalize;
}

.responsive-caja {
  width: 100%;
  height: 300px;
  display: flex;
  background: rgb(20, 20, 20);
  font-size: 40px;
  color: #ddd;
}

.caja span,
.caja2 span,
.caja3 span,
.caja4 span {
  margin: auto;
}

.publicacion {
  text-align: justify;
  margin: 20px;
  opacity: 0;
  animation: aparecer 1s forwards 0.5s;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.publicacion p {
  padding: 10px 20px;
  border-left: 2px solid #48e;
}
.publicacion h3 {
  border-bottom: 2px solid #48e;
  color: #48e;
  font-size: 2rem;
}

.comentarios {
  display: flex;
}
.comentarios input {
  padding: 6px 10px;
  border: none;
  background: #48e;
  color: #ddd;
  outline: none;
}
.comentarios .comentario {
  margin-left: 20px;
  flex-grow: 1;
}

.comentario::placeholder {
  color: #ddd;
  font-weight: bolder;
}
.comentarios .enviar {
  min-width: 50px;
  margin-right: 20px;
  background: #ddd;
  color: #111;
  font-weight: bold;
  padding: 1px;
  border: 1px solid #48e;
}

.workers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.loadResults{
  margin: auto;
}

.workerInput{
  max-width: 70%;
  margin: auto;
}

.buttonWorker{
  max-width: 50%;
  margin: auto;
}